.env
.vscode
dist
default*
*.egg-info
.coverage
build
__pycache__
test.gms
test.gdx
test.lst
test.py
/test
gams-transfer-python
225*
docs/_build
_gams_py_*
tests/integration/*.txt
tests/integration/models/results.xlsx
**/ipynb_checkpoints
/_*
