default:
  tags:
    - linux

stages:
  - setup
  - update
  - precommit
  - cli
  - test
  - engine
  - neos
  - docs
  - performance
  - website
  - upload

variables:
  MACHINES_CONTAINER_REG:
    value: registry.gams.com/devel/machines
    description: "URL to the container registry of the machines repository"
  PF_GITLAB_WEBSITE_TOKEN:
    value: $GITLAB_WEBSITE_TOKEN
    description: "Token for updating gams.com"
  PF_CUSTOM_BRANCH:
    value: $CUSTOM_BRANCH
    description: "Name of custom branch or 0 if published distribution with version as specified should be taken"
  PF_BUILDS_WWW_PATH:
    value: $BUILDS_WWW_PATH
    description: "URL path prefix for builds server"
  PF_BUILDS_SSH_PORT:
    value: $BUILDS_SSH_PORT
    description: "Port used for SSH connection to builds server"
  PF_BUILDS_SSH_SERVER:
    value: $BUILDS_SSH_SERVER
    description: "URL of the build server"
  PF_BUILDS_SSH_USER:
    value: $BUILDS_SSH_USER
    description: "Username used for SSH connection to builds server"
  PF_GAMS_LICENSE:
    value: $GAMS_LICENSE
    description: "GAMS license string used for testing"
  PF_PYPI_USERNAME:
    value: $PYPI_USERNAME
    description: "Username for PyPI"
  PF_PYPI_PASSWORD:
    value: $PYPI_PASSWORD
    description: "Password for PyPI"

# This job updates pre-commit hooks and uv lock on a schedule
autoupgrade:
  stage: update
  image: python:3.13
  script:
    - git config --global user.name "GitLab Bot"
    - git config --global user.email "gitlab-bot@${CI_SERVER_HOST}"
    - git remote set-url origin "https://gitlab-ci-token:${PRECOMMIT_UPGRADE_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git"
    # Fetch the latest state of the branch from remote
    - git fetch origin $CI_COMMIT_REF_NAME
    # Force the local checkout to exactly match the remote branch
    - git checkout -B $CI_COMMIT_REF_NAME origin/$CI_COMMIT_REF_NAME
    - pip install --upgrade pip && pip install prek uv
    - prek auto-update
    - uv lock --upgrade

    - |
      if git diff --quiet; then
        echo "No updates found. Exiting."
        exit 0
      fi

    - git add .pre-commit-config.yaml uv.lock
    # Add [skip ci] to the commit message to prevent this push from triggering another pipeline
    - git commit -m "[CHORE] Update pre-commit hooks and uv lock [skip ci]"
    - git push origin $CI_COMMIT_REF_NAME
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'


include: ['ci/.toolchain.yml',
          'ci/.precommit-check.yml',
          'ci/.cli.yml',
          'ci/.test-leg.yml',
          'ci/.test-lag.yml',
          'ci/.test-dac.yml',
          'ci/.test-deg.yml',
          'ci/.test-wei.yml',
          'ci/.update-website.yml',
          'ci/.upload.yml',
          'ci/.docs.yml',
          'ci/.performance.yml']
