repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: end-of-file-fixer
        exclude: ^(tests\/integration\/miro_models|docs|tests\/integration\/tex_references)
    -   id: check-added-large-files
        args: ['--maxkb=50000']
    -   id: check-ast
    -   id: check-case-conflict
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.19.1'
    hooks:
    -   id: mypy
        files: '^src\/gamspy\/(.*?)$'
-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
    -   id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
    # Run the linter.
    -   id: ruff-check
        args: [ --fix ]
    # Run the formatter.
    -   id: ruff-format
