sphinx==7.1.2
sphinx-rtd-theme==1.3.0rc1
numpydoc==1.5.0
nbsphinx==0.9.3
sphinx_copybutton==0.5.2
numpy==1.24.4
pandas==2.0.3
IPython==8.15.0
matplotlib
sphinx_design
python_docs_theme
pydata_sphinx_theme
