.jp-RenderedHTMLCommon table, div.rendered_html table {
    table-layout: unset;
}

#module-gamspy .class {
    border-top: 2px solid black;
}

.navbar-icon-links img.icon-link-image {
    height: 1.25em;
}

.icon-link-table {
  width: 14px;
  height: auto;
  margin-left: 15px;
  vertical-align: middle;
}
