name: Create Release

on:
  push:
    tags:
      - 'v*' # Triggers on tags like v1.0.0

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Build Artifacts
        run: |
          python -m pip install --upgrade pip
          pip install build
          python -m build

      - name: Locate Release Notes File
        id: notes
        run: |
          TAG_NAME=${{ github.ref_name }}
          VERSION=${TAG_NAME#v}
          FILE_PATH="docs/release/release_${VERSION}.rst"
          
          if [ -f "$FILE_PATH" ]; then
            echo "path=$FILE_PATH" >> $GITHUB_OUTPUT
          else
            echo "::error::Release note file not found: $FILE_PATH"
            exit 1
          fi

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: ${{ github.ref_name }}
          body_path: ${{ steps.notes.outputs.path }}
          draft: false
          prerelease: false
          files: dist/* # Uploads all .whl and .tar.gz files created by 'build'
